version: '3.8'
services:
  front:
    container_name: frontend
    build:
      context: ./client/bdxquizz-front
      dockerfile: Dockerfile.dev
    ports:
      - '8080:8080'
    networks:
      - bdx-quizz
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./client/bdxquizz-front/src:/app/src

  backend:
    container_name: backend
    environment:
      - MONGO_ADDRESS=database
      - CHOKIDAR_USEPOLLING=true

    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '4000:4000'
    networks:
      - bdx-quizz
    depends_on:
      - mongodb
    volumes:
      - ./:/app
      - /app/node_modules

  mongodb:
    image: mongo
    container_name: database
    ports:
      - 27018:27017
    networks:
      - bdx-quizz

networks:
  bdx-quizz:
    driver: bridge
